<html>
<title></title>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <div id="root">
        <button @click="showModal = true" >Show Status Modal</button>
        <modal v-show="showModal == true" :title="modalTitle" @close="showModal = false">{{modalTitle}}</modal>
        <input type="text" name="name" v-model="newPerson.name">
        <input type="text" name="description" v-model="newPerson.description">
        <input type="checkbox" name="family" v-model="newPerson.family">
        <button @click="addTab(newPerson)" class="is-success">Add</button>

        <tabs>
            <tab 
                v-for="(person, index) in relations" 
                :name="person.name"
                :selected="index == 0"
            >
                {{ person.description }}
            </tab>
        </tabs>

    </div>

    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>

    <script src="main.js"></script>

</body>
</html>




